@font-face{font-family:MiSans;src:url('/fonts/MiSans-Regular.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:MiSans;src:url('/fonts/MiSans-Medium.woff2') format('woff2');font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:'LXGW WenKai GB Lite';src:url('/fonts/LXGWWenKaiGBLite-Medium.ttf') format('truetype');font-weight:500;font-style:normal;font-display:swap}
